{% extends 'base.html' %}
{% set active_page = 'movie_detail' %}
{% block title %}{{movie.title}} Details{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="text-center">Movie Info</h1>
    <hr>
    <h4>Movie Title: {{ movie.title }}</h2>
    <ul>
        <li>Movie ID: {{ movie.movie_id }}</li>
        <li>Release Date: {{ date }}</li>
        <li><a href="{{ movie.imdb_url }}">IMDB PAGE</a></li>
    </ul>
    <h4 class="text-center">Average Rating</h4>
    <p class="text-center">
        {% for i in range(movie_avg) %}
            &#9733;
        {% endfor %}
        {% for i in range(5-movie_avg) %}
            &#9734;
        {% endfor %}
    </p>
    {% if prediction %}
        <h4 class="text-center">We predict your rating will be:</h4>
        <p class="text-center">
            {% for i in range(prediction) %}
                &#9733;
            {% endfor %}
            {% for i in range(5-prediction) %}
                &#9734;
            {% endfor %}
        </p>
    {% endif %}
    {% if user_rating %}
        <h4 class="text-center">Your Rating</h4>
        <p class="text-center">
            {% for i in range(user_rating) %}
                &#9733;
            {% endfor %}
            {% for i in range(5-user_rating) %}
                &#9734;
            {% endfor %}
        </p>
        <div class="row justify-content-center">
            <a href="/movies/{{ movie.movie_id }}/rate" class="btn btn-secondary" role="button">Edit Rating</a>
        </div>
    {% else %}
    <div class="row justify-content-center">
        <a href="/movies/{{ movie.movie_id }}/rate" class="btn btn-primary" role="button">Rate Movie</a>
    </div>
    {% endif %}
    {% if beratement %}
        <div class="alert alert-danger alert-dismissible my-4" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            THE EYE SAYS: {{ beratement }}
        </div>
    {% endif %}
</div>

<h1 class="text-center">Ratings for {{ movie.title }}</h1>

{% if ratings %}
        {% for rating in ratings %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ rating.user.email if rating.user.email is not none else 'Anonymous' }}
            <span class="badge">
                {% for i in range(rating.score) %}
                    &#9733;
                {% endfor %}
                {% for i in range(5-rating.score) %}
                    &#9734;
                {% endfor %}
            </span>
        </li>
        {% endfor %}
    </ul>    
{% else %}
MOVIE HAS NO RATINGS
{% endif %}

{% endblock %}